.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(26, 101, 101);
}
.btn {
  height: 77px;
  width: 155px;
  font-size: 24px;
  background-color: rgb(10, 84, 32);
  color: rgb(239, 236, 242);
}

.time {
  color: rgb(231, 184, 134);
}
